body {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  text-align: center;
}
h1 {
  color: white;
  background-color: violet;
  font-weight: 700;
  margin:0;
  padding:0;
}
.container {
  display: flex;
  max-height: 100px;


}
.left {
  text-decoration: none;
  color: white;
  margin:0;
  margin-right: 2em;
  height:808px;
  width: 1200px;
  background-color: blue;
}
a {
  text-decoration: none;
  color: white;

}
ul {
  list-style: none;
  margin-left: -30px;
}
.right {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}
.bottomright {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}
.text {
  background-color: white;
  border: 1px solid black;
  padding:3em;
  margin: 2em 1em 1em 0;
}
/* .footer {
  display: flex;
} */
h2 {
  text-align: center;
  height: 40px;
  background-color: grey;
  margin: 0;
  margin-top: 29.5em;

}
